
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JqueryDemo</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/JqueryDemo.js"></script>
</head>
<body>
    <div id="div">
        <p>click me.</p>
    </div>
    <div id="content">
        <div>
            <p>color me red.</p>
        </div>
    </div>
    <div>
        <a href="www.google.com">Go to google</a>
        <br />
        <a href="#">Go to somewhere 1</a>
    </div>
    <a href="www.facebook.com">Go to facebook</a>
    <br />
    <a href="#">Go to somewhere 2</a>
    <br />
    <a href="#">Go to somewhere 3</a>
    <br />
    <a href="#">Go to somewhere 4</a>

    <div id="menu">
        <p>CLick me to Toggle</p>
        <div class="section">
            <a href="#">Go to somewhere 1</a>
            <br />
            <a href="#">Go to somewhere 2</a>
            <br />
            <a href="#">Go to somewhere 3</a>
            <br />
            <a href="#">Go to somewhere 4</a>

        </div>

        <p>CLick me to Toggle</p>
        <div class="section">
            <a href="#">Go to somewhere 1</a>
            <br />
            <a href="#">Go to somewhere 2</a>
            <br />
            <a href="#">Go to somewhere 3</a>
            <br />
            <a href="#">Go to somewhere 4</a>

        </div>

        <p>CLick me to Toggle</p>
        <div class="section">
            <a href="#">Go to somewhere 1</a>
            <br />
            <a href="#">Go to somewhere 2</a>
            <br />
            <a href="#">Go to somewhere 3</a>
            <br />
            <a href="#">Go to somewhere 4</a>

        </div>

    </div>
</body>
</html>



