@model MyContactBook.Contact

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this contact?</h3>
<div>
    
    <hr />
    @* here we use the partial view *@
    @Html.Partial("_ContactDetailsPartial",Model)
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ContactId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" style="margin-left:2%" /> |
            @Html.ActionLink("Back to List","Index")
        </div>
    }
</div>
