@model MyContactBook.Contact

@{
    ViewBag.Title = "Contact Details";
}

<h2>Contact Details</h2>
<br />
@*here we have created a partial view because we need this template multiple times*@

@Html.Partial("_ContactDetailsPartial")
@Html.ActionLink("Back to List", "Index")